.home-slider {
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  @media (max-width: 575px) {
    padding-top: 50px;
  }
  &::before {
    content: url("images/icons/bg-registration.svg");
    position: absolute;
    top: 0;
    left: -120px;
    z-index: -1;
    @media (max-width: 575px) {
      left: -50%;
      top: -80px;
    }
  }
  .swiper-container {
    max-width: 1300px;
    margin: auto;
  }
  &__content {
    background-image: url("images/testimonials.svg");
    background-position: top;
    background-repeat: no-repeat;
    @media (max-width: 767px) {
      background-size: 65%;
    }
    @media (max-width: 575px) {
      background-size: 27%;
    }
  }
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: #4f697d;
      font-size: 20px;
      @include semi-bold;
      @media (max-width: 575px) {
        font-size: 15px;
        text-align: center;
      }
    }
  }
  .swiper-button-next {
    position: absolute;
    bottom: 86px;
    right: 0;
    @media (max-width: 575px) {
      bottom: 46px;
      z-index: 999;
      svg {
        width: 43px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .swiper-button-prev {
    position: absolute;
    bottom: 86px;
    left: 0;
    @media (max-width: 575px) {
      bottom: 46px;
      z-index: 999;
      svg {
        width: 43px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .swiper-button-disabled {
    pointer-events: none;
    svg {
      path {
        fill: #e5e5e5;
      }
    }
  }
  .slider-quotes {
    margin-top: 135px;
    padding-bottom: 90px;
    @media (max-width: 575px) {
      padding-bottom: 50px;
      margin-top: 40px;
    }
    .swiper-pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      @media (max-width: 575px) {
        margin-top: 25px;
      }
    }
    .swiper-pagination-bullet {
      display: flex;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #e5e5e5;
      margin-right: 20px;
      z-index: 999;
      &:hover {
        cursor: pointer;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .swiper-pagination-bullet-active {
      width: 14px;
      height: 14px;
      background: #4f697d;
      border: none;
    }
    &__stars {
      display: flex;
      align-items: flex-end;

      svg {
        margin-right: 15px;
      }
      strong {
        color: #4f697d;
        font-size: 20px;
        @include semi-bold;
      }
    }
    &__text {
      p {
        margin-top: 40px;
        @media (max-width: 575px) {
          margin-top: 20px;
        }
      }
      strong {
        color: #4f697d;
        font-size: 20px;
        @include semi-bold;
        @media (max-width: 575px) {
          font-size: 15px;
        }
      }
    }
    &__slide {
      height: 330px;
      margin-left: 15px;
      padding: 30px 40px 30px 60px;
      width: 100%;
      max-width: 605px;
      background: #fff;
      box-shadow: 0 4px 4px rgba(79, 105, 125, 0.25);
      border-radius: 50px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 1090px) {
        height: 350px;
      }
      @media (max-width: 991px) {
        max-width: 100%;
        margin-left: 0;
      }
      @media (max-width: 575px) {
        padding: 20px 15px;
        height: 260px;
      }
      @media (max-width: 375px) {
        height: 300px;
      }
      p {
        @include pop-italic;
        font-size: 20px;
        line-height: 30px;
        color: #a2a2a2;
        @media (max-width: 575px) {
          font-size: 15px;
        }
      }
    }
  }
}
