.telegram-bot {
  background-image: url("images/car-bg.jpg");
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__bg {
    width: 100%;
    height: 170px;
    background: rgba(79, 105, 125, 0.6);
    backdrop-filter: blur(30px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin-right: 110px;
      svg {
        margin-right: 10px;
      }
    }
    p {
      @include semi-bold;
      font-size: 30px;
      color: #fff;
      max-width: 1080px;
    }
  }
}
