<div class="modal">
    <div class="modal__bg">
        <div class="modal__top">
            <div class="modal__header">
                <p>Собрал информацию по Вашему автомобилю:</p> <span>MITSUBISHI LANCER 2008г.в./y.m.</span>
            </div>
            <a class="modal-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                    viewBox="0 0 22 22" fill="none">
                    <path
                        d="M12.2154 11L21.7483 1.46709C22.0839 1.13146 22.0839 0.587307 21.7483 0.251722C21.4127 -0.0838643 20.8685 -0.0839073 20.5329 0.251722L11 9.78468L1.46709 0.251722C1.13146 -0.0839073 0.587306 -0.0839073 0.251721 0.251722C-0.083864 0.58735 -0.083907 1.13151 0.251721 1.46709L9.78461 11L0.251721 20.533C-0.083907 20.8686 -0.083907 21.4127 0.251721 21.7483C0.419513 21.9161 0.63947 22 0.859426 22C1.07938 22 1.2993 21.9161 1.46713 21.7483L11 12.2154L20.5329 21.7483C20.7007 21.9161 20.9206 22 21.1406 22C21.3605 22 21.5804 21.9161 21.7483 21.7483C22.0839 21.4127 22.0839 20.8685 21.7483 20.533L12.2154 11Z"
                        fill="#4F697D" />
                </svg></a>
        </div>
        <div class="modal__content">
            <div class="modal__column">
                <div class="modal__block">
                    <span>VIN</span>
                    <span class="modal__block-data">JMBSNCS3A8U001115</span>
                </div>
                <div class="modal__block">
                    <span>Марка</span>
                    <span class="modal__block-data">MITSUBISHI</span>
                </div>
                <div class="modal__block">
                    <span>Модель</span>
                    <span class="modal__block-data">LANCER</span>
                </div>
                <div class="modal__block">
                    <span>Гос. номер</span>
                    <span class="modal__block-data">АЕ7650КІ</span>
                </div>
                <div class="modal__block">
                    <span>Год выпуска</span>
                    <span class="modal__block-data">2008</span>
                </div>
            </div>


            <div class="modal__column">
                <div class="modal__block">
                    <span>Цвет</span>
                    <span class="modal__block-data">Серый</span>
                </div>
                <div class="modal__block">
                    <span>Тип топлива</span>
                    <span class="modal__block-data">Бензин</span>
                </div>
                <div class="modal__block">
                    <span>Обьем двигателя, см.куб.</span>
                    <span class="modal__block-data">1584</span>
                </div>
                <div class="modal__block">
                    <span>Тип авто</span>
                    <span class="modal__block-data">Легковой</span>
                </div>
                <div class="modal__block">
                    <span>Дата регистрации</span>
                    <span class="modal__block-data">06.07.2019</span>
                </div>
            </div>


            <div class="modal__column">
                <div class="modal__block">
                    <span>Тип регистрации</span>
                    <span class="modal__block-data">ПЕРЕРЕЄСТРАЦІЯ ТЗ НА НОВ ВЛАСН</span>
                    <span class="modal__block-data">ПО ДОГОВОРУ УКЛАДЕНОМУ В ТСЦ</span>
                    <span class="modal__block-data"></span>
                </div>
                <div class="modal__block">
                    <span>Сервисный центр</span>
                    <span class="modal__block-data">ТСЦ 1244</span>
                </div>


                <div class="modal__links">
                    <a href="#" class="btn-blue">Еще раз</a>
                    <a href="#" class="link-blue">Помочь проекту</a>
                </div>
            </div>

        </div>
    </div>
</div>