<div class="page-hero">
    <div class="page__bg">
        <div class="container">
            <div class="page-hero__content">
                <div class="page-hero__left">
                    <h1><b>o</b>тчет об истории
                        автомобиля</h1>
                    <p>Вы можете получить бессрочные пакеты отчетов Carfax стоимостью от 1.8$ до 2.3$ в <a
                            href="#">Личном
                            кабинете</a>

                    </p>
                    <a href="#" class="btn-gray">Пример Carfax</a>
                    <div class="page-hero__car">
                        <img src="images/page-hero/blue-car.png" alt="">
                    </div>
                </div>

                <div class="page-hero__right">
                    <form class="form" action="#">
                        <div class="form__checkbox"></div>
                        <div class="form__block">
                            <label for="#">Тип отчета</label>
                            <select name="" id="">
                                <option value="">Авточек</option>
                            </select>
                        </div>
                        <div class="form__block">
                            <label for="#">VIN</label>
                            <input type="text">
                        </div>
                        <div class="form__block">
                            <label for="#">Email</label>
                            <input type="email">
                        </div>
                        <div class="form__links">
                            <button class="btn-blue">Проверить</button>
                            <a href="#" class="link-blue">Помочь проекту</a>
                        </div>

                    </form>
                </div>

            </div>

            <div class="page-hero__numbers">
                <div class="page-hero__numbers-block">
                    <span>1582</span>
                    <p>Отчетов Авточек</p>
                </div>
                <div class="page-hero__numbers-block">
                    <span>1099</span>
                    <p>Отчетов Карфакс</p>
                </div>
                <div class="page-hero__numbers-block">
                    <span>874</span>
                    <p>Отчетов Комплектации</p>
                </div>
            </div>

        </div>
    </div>
</div>