<div class="page-hero">
    <div class="page__bg">
        <div class="container">
            <div class="page-hero__content">
                <div class="page-hero__left">
                    <h1><b>o</b>тчет об истории
                        автомобиля</h1>
                    <p>Вы можете получить бессрочные пакеты отчетов Carfax стоимостью от 1.8$ до 2.3$ в <a
                            href="#">Личном
                            кабинете</a>

                    </p>
                    <a href="#" class="btn-gray">Пример Carfax</a>
                    <div class="page-hero__car">
                        <img src="images/page-hero/blue-car.png" alt="">
                    </div>
                </div>

                <div class="page-hero__right">
                    <div class="page-hero__tabs tabs">
                        <ul class="nav nav-pills nav-fill align-items-start align-items-lg-center" id="pills-tab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active text-nowrap" data-toggle="pill" href="#pills-vin" role="tab"
                                    aria-controls="pills-vin" aria-selected="true">VIN</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link text-nowrap" data-toggle="pill" href="#pills-number">По
                                    номеру</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-vin">
                                <form class="form" action="#">
                                    <div class="form__block">
                                        <label for="#">Тип отчета</label>
                                        <div class="form__select">
                                            <select name="" id="">
                                                <option value="">Авточек</option>
                                                <option value="">Авточек</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form__block">
                                        <label for="#">VIN</label>
                                        <input type="text">
                                    </div>
                                    <div class="form__block">
                                        <label for="#">Email</label>
                                        <input type="email">
                                    </div>
                                    <div class="form__links">
                                        <button class="btn-blue modal-btn">Проверить</button>
                                        <a href="#" class="link-blue">Помочь проекту</a>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-number">
                                <div class="tab-pane__info">
                                    <form class="form" action="#">
                                        <div class="form__block">
                                            <label for="#">Тип отчета</label>
                                            <div class="form__select">
                                                <select name="" id="">
                                                    <option value="">Авточек</option>
                                                    <option value="">Авточек</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form__block">
                                            <label for="#">Номер</label>
                                            <input type="text">
                                        </div>
                                        <div class="form__block">
                                            <label for="#">Email</label>
                                            <input type="email">
                                        </div>
                                        <div class="form__links">
                                            <button class="btn-blue modal-btn">Проверить</button>
                                            <a href="#" class="link-blue">Помочь проекту</a>
                                        </div>

                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <div class="page-hero__numbers">
                <div class="page-hero__numbers-block">
                    <span>1582</span>
                    <p>Отчетов Авточек</p>
                </div>
                <div class="page-hero__numbers-block">
                    <span>1099</span>
                    <p>Отчетов Карфакс</p>
                </div>
                <div class="page-hero__numbers-block">
                    <span>874</span>
                    <p>Отчетов Комплектации</p>
                </div>
            </div>
            {{!-- {{> ../sections/modal }} --}}
        </div>
    </div>
</div>