<div class="footer">
  <div class="container">
    <div class="footer__info">
      <div class="row">
        <div class="col-lg-2">
          <ul class="footer__show-md">
            <li><a href="#">Sed uspiciatis unde.</a></li>
            <li><a href="#">Sed ut persatis unde.</a></li>
            <li><a href="#">Sed ut perspicia.</a></li>
            <li><a href="#">Sed ut</a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <ul>
            <li><a href="#">Sed uspiciatis unde.</a></li>
            <li><a href="#">Sed ut persatis unde.</a></li>
            <li><a href="#">Sed ut perspicia.</a></li>
            <li><a href="#">Sed ut</a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <ul>
            <li><a href="#">Sed uspiciatis unde.</a></li>
            <li><a href="#">Sed ut persatis unde.</a></li>
            <li><a href="#">Sed ut perspicia.</a></li>
            <li><a href="#">Sed ut</a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <ul>
            <li><a href="#">Sed uspiciatis unde.</a></li>
            <li><a href="#">Sed ut persatis unde.</a></li>
            <li><a href="#">Sed ut perspicia.</a></li>
            <li><a href="#">Sed ut</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12">
         <div class="form">
           <input placeholder="Join our Newsletter" type="text">
           <button  id="sign-in" class="sign-in-out"> <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13"><g><g><g transform="rotate(-90 6.5 6.5)"><path fill="#031138" d="M6.5 13a.661.661 0 0 0 .425-.164l5.883-5.572a.623.623 0 0 0 .024-.875.644.644 0 0 0-.876-.024L7.118 10.94V.62a.619.619 0 1 0-1.238 0v10.32L1.042 6.365c-.236-.223-.645-.203-.876.024-.238.236-.211.653.024.875l5.883 5.572c.15.147.279.154.426.164z"/></g></g></g></svg></button>
         </div>
          <div class="footer__social">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><g><g><path fill="#fff" d="M10.593.045c.799.036 1.344.163 1.821.349.493.191.912.448 1.329.865.417.417.673.835.865 1.328.185.477.312 1.023.348 1.821.037.8.046 1.056.046 3.093s-.01 2.292-.046 3.092c-.036.799-.163 1.344-.348 1.821a3.677 3.677 0 0 1-.865 1.329 3.677 3.677 0 0 1-1.329.865c-.477.185-1.022.312-1.82.348-.8.037-1.056.046-3.093.046s-2.293-.009-3.093-.046c-.798-.036-1.344-.163-1.82-.348a3.677 3.677 0 0 1-1.33-.865 3.677 3.677 0 0 1-.864-1.329c-.186-.477-.313-1.022-.35-1.82C.009 9.793 0 9.537 0 7.5s.008-2.293.045-3.093c.036-.798.163-1.344.349-1.82.191-.494.448-.912.865-1.33A3.677 3.677 0 0 1 2.587.395C3.064.208 3.61.08 4.408.044 5.208.009 5.464 0 7.501 0zM7.516 3.66a3.855 3.855 0 1 1 0 7.71 3.855 3.855 0 0 1 0-7.71zm.005 6.367a2.507 2.507 0 1 0 0-5.015 2.507 2.507 0 0 0 0 5.015zm4.851-6.546a.89.89 0 0 1-.888.893.89.89 0 0 1-.888-.893.89.89 0 0 1 .888-.893zM4.47 1.395c-.732.033-1.129.156-1.393.258-.35.136-.6.299-.863.561a2.324 2.324 0 0 0-.56.863c-.103.264-.226.661-.259 1.393-.036.79-.044 1.028-.044 3.03 0 2.004.008 2.24.044 3.032.033.731.156 1.128.258 1.393.136.35.299.6.561.862.263.262.513.425.863.561.264.103.661.225 1.393.258.79.036 1.028.044 3.03.044 2.004 0 2.24-.008 3.032-.044.731-.033 1.128-.155 1.392-.258.35-.136.6-.299.863-.561.262-.263.425-.512.561-.862.103-.265.225-.662.258-1.393.036-.791.044-1.028.044-3.031s-.008-2.24-.044-3.031c-.033-.732-.155-1.129-.258-1.393-.136-.35-.299-.6-.561-.863a2.324 2.324 0 0 0-.863-.56c-.264-.103-.661-.226-1.392-.259-.791-.036-1.029-.044-3.031-.044z"/></g></g></svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16"><g><g><path fill="#fff" d="M5.32 16H1.773V7.999H0V5.242h1.773V3.587c0-2.249 1-3.587 3.844-3.587h2.367v2.758h-1.48c-1.107 0-1.18.385-1.18 1.104l-.005 1.38H8L7.686 8H5.32V16z"/></g></g></svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g><g><path fill="#fff" d="M10.906 14V9.078c0-1.288-.484-2.167-1.549-2.167-.814 0-1.266.593-1.477 1.166-.08.204-.067.49-.067.777V14H4.748s.04-8.718 0-9.51h3.065v1.492c.181-.653 1.16-1.584 2.724-1.584C12.477 4.398 14 5.767 14 8.71V14zM1.628 3.3C.64 3.3 0 2.573 0 1.652 0 .712.66 0 1.667 0c1.007 0 1.626.71 1.645 1.65 0 .92-.638 1.65-1.664 1.65zM.353 4.49h2.729V14H.353z"/></g></g></svg></a>
          </div>
          <div class="footer__social-hide">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19"><g><g><path fill="#fff" d="M13.242.306c.998.046 1.68.204 2.276.436.616.24 1.139.56 1.66 1.081a4.596 4.596 0 0 1 1.082 1.661c.231.597.39 1.278.436 2.276.045 1 .056 1.32.056 3.866 0 2.546-.01 2.866-.056 3.866-.046.998-.205 1.68-.436 2.276-.24.616-.56 1.139-1.082 1.66a4.596 4.596 0 0 1-1.66 1.082c-.597.232-1.278.39-2.276.436-1 .045-1.32.056-3.866.056-2.547 0-2.866-.01-3.866-.056-.998-.046-1.68-.204-2.276-.436a4.596 4.596 0 0 1-1.66-1.082 4.596 4.596 0 0 1-1.082-1.66C.26 15.17.102 14.49.056 13.492.01 12.492 0 12.172 0 9.626 0 7.079.01 6.76.056 5.76c.046-.998.204-1.68.436-2.276.24-.616.56-1.14 1.081-1.66A4.596 4.596 0 0 1 3.234.741C3.831.51 4.512.352 5.51.306 6.51.261 6.83.25 9.376.25zm-3.853 4.52a4.813 4.813 0 1 1 0 9.627 4.813 4.813 0 0 1 0-9.627zm0 7.936a3.123 3.123 0 1 0 0-6.245 3.123 3.123 0 0 0 0 6.245zm6.089-8.16a1.116 1.116 0 1 1-1.116-1.115zm-9.89-2.608c-.915.042-1.412.194-1.742.323-.438.17-.75.373-1.078.701-.328.328-.531.64-.701 1.078-.129.33-.282.827-.323 1.741-.045.989-.055 1.285-.055 3.789 0 2.503.01 2.8.055 3.789.041.914.194 1.41.323 1.74.17.438.373.75.701 1.079.328.328.64.531 1.078.701.33.128.827.281 1.741.323.989.045 1.285.055 3.789.055 2.504 0 2.8-.01 3.789-.055.914-.042 1.41-.195 1.74-.323.438-.17.75-.373 1.079-.701.328-.328.531-.64.701-1.078.128-.33.281-.827.323-1.741.045-.99.055-1.286.055-3.79 0-2.503-.01-2.8-.055-3.788-.042-.914-.195-1.41-.323-1.74a2.905 2.905 0 0 0-.701-1.079 2.905 2.905 0 0 0-1.078-.701c-.33-.129-.827-.281-1.741-.323-.99-.045-1.286-.055-3.79-.055z"/></g></g></svg>
            </a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="19px" viewBox="0 0 19 19" version="1.1">
              <title>facebook</title>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="facebook">
                  <rect id="Rectangle" x="0" y="0" width="19" height="19"/>
                  <path d="M11.3175,19 L7.1052,19 L7.1052,9.49905 L5,9.49905 L5,6.22535 L7.1052,6.22535 L7.1052,4.25885 C7.1052,1.5903 8.2927,0 11.669,0 L14.48005,0 L14.48005,3.27465 L12.7235,3.27465 C11.40965,3.27465 11.32225,3.73255 11.32225,4.58565 L11.3175,6.2263 L14.5,6.2263 L14.1276,9.5 L11.31655,9.5 L11.31655,19 L11.3175,19 Z" id="Path" fill="#FFFFFF" fill-rule="nonzero"/>
                </g>
              </g>
            </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="19px" viewBox="0 0 19 19" version="1.1">
              <title>in</title>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="in" fill="#FFFFFF" fill-rule="nonzero">
                  <path d="M14.9171111,18.7361111 L14.9171111,12.2412778 C14.9171111,10.5418333 14.2785,9.38283333 12.8746111,9.38283333 C11.8000556,9.38283333 11.2026111,10.1639444 10.925,10.9207778 C10.8205,11.1899444 10.8373889,11.5678333 10.8373889,11.9457222 L10.8373889,18.7361111 L6.7925,18.7361111 C6.7925,18.7361111 6.84527778,7.23266667 6.7925,6.18661111 L10.8373889,6.18661111 L10.8373889,8.15627778 C11.0759444,7.29494444 12.3679444,6.06627778 14.4305,6.06627778 C16.9891667,6.06627778 19,7.87233333 19,11.7588889 L19,18.7371667 L14.9171111,18.7361111 Z M2.67583333,4.61805556 C1.37327778,4.61805556 0.527777778,3.6575 0.527777778,2.44361111 C0.527777778,1.20438889 1.39755556,0.263888889 2.72755556,0.263888889 C4.05544444,0.263888889 4.87244444,1.20227778 4.89777778,2.44044444 C4.89777778,3.65433333 4.05544444,4.61805556 2.70222222,4.61805556 L2.67583333,4.61805556 Z M0.993277778,6.18555556 L4.59377778,6.18555556 L4.59377778,18.7361111 L0.994333333,18.7361111 L0.993277778,6.18555556 Z" id="Shape"/>
                </g>
              </g>
            </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p>Copyright © AWA Marine 2020 | Terms of Use | Privacy Policy | Terms & Conditions of Sale | Site Map</p>
    </div>
  </div>
</div>
