<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__links">
                <h3>О нас</h3>
                <p>Реализация намеченных плановых заданий обеспечивает широкому кругу участие в формировании
                    направлений.</p>

                <div class="footer__cards">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 30 20" fill="none">
                        <path
                            d="M7.99354 8.43115C7.43157 8.43115 7.0008 8.61175 7.0008 8.61175L6.88182 9.31819C6.88182 9.31819 7.23717 9.17372 7.77524 9.17372C8.08065 9.17372 8.30374 9.20771 8.30374 9.45576C8.30374 9.60661 8.27665 9.66238 8.27665 9.66238C8.27665 9.66238 8.03604 9.64273 7.92449 9.64273C7.21539 9.64273 6.4707 9.94443 6.4707 10.8575C6.4707 11.5767 6.95884 11.7408 7.26213 11.7408C7.84057 11.7408 8.09021 11.3658 8.10296 11.3648L8.07587 11.6781H8.79772L9.11961 9.42071C9.11907 8.46196 8.28356 8.43115 7.99354 8.43115ZM7.5888 11.054C7.33437 11.054 7.26798 10.8602 7.26798 10.7444C7.26798 10.5202 7.38961 10.2504 7.99036 10.2504C8.13058 10.2509 8.14546 10.2653 8.16883 10.2695C8.18476 10.4076 8.08278 11.054 7.5888 11.054Z"
                            fill="white" />
                        <path
                            d="M10.6006 9.18807C10.7159 9.18807 11.1605 9.22472 11.1605 9.22472L11.2641 8.50128C11.2641 8.50128 10.9762 8.43701 10.5077 8.43701C9.90111 8.43701 9.28602 8.67922 9.28602 9.5073C9.28602 10.4464 10.3122 10.3508 10.3122 10.747C10.3122 11.0105 10.0254 11.0323 9.80444 11.0323C9.42147 11.0323 9.07728 10.9016 9.07622 10.9069L8.9668 11.6245C8.98645 11.6298 9.19891 11.7244 9.88677 11.7244C10.0711 11.7244 11.1265 11.7722 11.1265 10.6828C11.1265 9.664 10.1497 9.8653 10.1497 9.45578C10.1497 9.25181 10.3085 9.18807 10.6006 9.18807Z"
                            fill="white" />
                        <path
                            d="M12.3248 9.28054H12.7588L12.8634 8.5093H12.4545L12.5378 8.03125H11.7183C11.7002 8.04878 11.2344 10.7274 11.2344 11.0525C11.2344 11.5364 11.5058 11.751 11.8877 11.7473C12.1867 11.7451 12.4199 11.6623 12.5023 11.6394L12.6048 10.9425C12.5485 10.9425 12.4661 10.967 12.3934 10.967C12.1081 10.967 12.0768 10.8145 12.0949 10.7025L12.3248 9.28054Z"
                            fill="white" />
                        <path
                            d="M15.7615 4.80591H14.2987C14.1022 5.07149 13.9173 5.35407 13.75 5.63027H16.3596C16.1785 5.34238 15.9782 5.06724 15.7615 4.80591Z"
                            fill="white" />
                        <path
                            d="M27.1747 14.0789C27.1588 14.055 27.1455 14.037 27.1349 14.0258C27.129 14.0205 27.1216 14.0147 27.112 14.012C27.1349 14.0104 27.154 14.0019 27.1678 13.9876C27.1811 13.9732 27.1885 13.9562 27.1885 13.9366C27.1885 13.9228 27.1843 13.9095 27.1763 13.8973C27.1683 13.8851 27.1566 13.876 27.1423 13.8712C27.129 13.8659 27.1062 13.8633 27.0748 13.8633H26.9824V14.1315H27.026V14.0178H27.0509C27.0658 14.0178 27.078 14.021 27.0849 14.0274C27.0961 14.0364 27.112 14.0572 27.1306 14.0896L27.154 14.132H27.2076L27.1747 14.0789ZM27.078 13.9823H27.0249V13.9015H27.0748C27.0956 13.9015 27.1094 13.9031 27.1173 13.9063C27.1258 13.9095 27.1311 13.9143 27.1359 13.9201C27.1402 13.9265 27.1423 13.9334 27.1423 13.9408C27.1423 13.953 27.1381 13.9637 27.129 13.9711C27.12 13.978 27.1025 13.9823 27.078 13.9823Z"
                            fill="white" />
                        <path
                            d="M16.8031 6.43921H13.2937C13.0696 6.86361 12.9209 7.18443 12.8789 7.2641H17.1356C17.0395 6.98046 16.929 6.70585 16.8031 6.43921Z"
                            fill="white" />
                        <path
                            d="M5.46711 7.77832L4.65922 10.1739L4.61725 7.77832H3.42108L2.76562 11.6818H3.55652L4.05529 8.73919L4.12859 11.6818H4.69321L5.7465 8.73919L5.27961 11.6818H6.11885L6.76527 7.77832H5.46711Z"
                            fill="white" />
                        <path
                            d="M21.2837 8.43115C20.7206 8.43115 20.2904 8.61175 20.2904 8.61175L20.1709 9.31819C20.1709 9.31819 20.5268 9.17372 21.0643 9.17372C21.3697 9.17372 21.5933 9.20771 21.5933 9.45576C21.5933 9.60661 21.5652 9.66238 21.5652 9.66238C21.5652 9.66238 21.3251 9.64273 21.2125 9.64273C20.5039 9.64273 19.7598 9.94443 19.7598 10.8575C19.7598 11.5767 20.2484 11.7408 20.5512 11.7408C21.1291 11.7408 21.3787 11.3658 21.392 11.3648L21.3649 11.6781H22.0863L22.4081 9.42071C22.4097 8.46196 21.5737 8.43115 21.2837 8.43115ZM20.88 11.054C20.625 11.054 20.5592 10.8602 20.5592 10.7444C20.5592 10.5202 20.6808 10.2504 21.2815 10.2504C21.4212 10.2509 21.4361 10.2653 21.46 10.2695C21.4754 10.4076 21.3729 11.054 20.88 11.054Z"
                            fill="white" />
                        <path
                            d="M27.2006 11.3223C27.1788 11.282 27.1469 11.2512 27.1071 11.2299C27.0678 11.2081 27.0274 11.1975 26.9849 11.1975C26.944 11.198 26.9031 11.2087 26.8627 11.2299C26.8229 11.2512 26.7921 11.282 26.7698 11.3223C26.7475 11.3622 26.7363 11.4036 26.7363 11.4466C26.7363 11.4896 26.7475 11.5305 26.7698 11.5699C26.7916 11.6092 26.8224 11.6405 26.8617 11.6628C26.9015 11.6846 26.9424 11.6957 26.9849 11.6957C27.0285 11.6957 27.0699 11.6846 27.1087 11.6628C27.148 11.6405 27.1788 11.6092 27.2006 11.5699C27.2234 11.5305 27.2335 11.4896 27.2335 11.4466C27.2335 11.4025 27.2229 11.3611 27.2006 11.3223ZM27.166 11.5491C27.148 11.5821 27.1225 11.607 27.089 11.6267C27.0561 11.6447 27.0221 11.6543 26.9865 11.6543C26.9504 11.6543 26.9159 11.6447 26.8835 11.6267C26.85 11.6081 26.825 11.5826 26.8059 11.5491C26.7868 11.5157 26.7783 11.4817 26.7783 11.4461C26.7783 11.4105 26.7873 11.376 26.807 11.3425C26.8256 11.3096 26.8505 11.2841 26.8845 11.2655C26.9185 11.2469 26.952 11.2389 26.9865 11.2389C27.021 11.2389 27.055 11.2474 27.0874 11.2655C27.1214 11.2841 27.1464 11.3091 27.165 11.3425C27.1836 11.376 27.1937 11.4105 27.1937 11.4461C27.1937 11.4817 27.1846 11.5162 27.166 11.5491Z"
                            fill="white" />
                        <path
                            d="M27.0698 11.5311C27.0544 11.5061 27.0406 11.4886 27.0305 11.478C27.0241 11.4721 27.0172 11.4673 27.0076 11.4642C27.0305 11.4626 27.0491 11.4541 27.0629 11.4397C27.0761 11.4259 27.0841 11.4079 27.0841 11.3887C27.0841 11.3755 27.0799 11.3616 27.0714 11.3494C27.0629 11.3377 27.0517 11.3287 27.0384 11.3234C27.0251 11.3181 27.0018 11.3154 26.9704 11.3154H26.877V11.5831H26.9205V11.4695H26.9455C26.9609 11.4695 26.9731 11.4727 26.9805 11.4785C26.9917 11.4881 27.0066 11.5082 27.0262 11.5417L27.0491 11.5837H27.1027L27.0698 11.5311ZM26.9742 11.4328H26.9216V11.3515H26.9704C26.9917 11.3515 27.0055 11.3531 27.014 11.3558C27.0209 11.3595 27.0273 11.3632 27.0315 11.3701C27.0363 11.377 27.0384 11.3829 27.0384 11.3919C27.0384 11.4036 27.0336 11.4137 27.0257 11.4211C27.0156 11.4302 26.9991 11.4328 26.9742 11.4328Z"
                            fill="white" />
                        <path
                            d="M24.0681 8.46997C23.7011 8.46997 23.4286 8.97086 23.4286 8.97086L23.5019 8.51034H22.7381L22.2266 11.6877H23.0679C23.3075 10.3301 23.351 9.229 23.9199 9.43031C24.0203 8.90552 24.117 8.70209 24.2259 8.48059C24.2259 8.48113 24.1749 8.46997 24.0681 8.46997Z"
                            fill="white" />
                        <path
                            d="M26.1815 7.7826L26.0047 8.87945C26.0047 8.87945 25.6966 8.45293 25.2132 8.45293C24.4616 8.45346 23.8359 9.35909 23.8359 10.3991C23.8359 11.071 24.17 11.7291 24.8521 11.7291C25.3434 11.7291 25.6153 11.3865 25.6153 11.3865L25.5797 11.6792H26.377L27.0038 7.78101L26.1815 7.7826ZM25.1421 10.9324C24.8467 10.9324 24.7086 10.6849 24.7086 10.2961C24.7086 9.66026 24.9939 9.24117 25.3545 9.24117C25.6488 9.2417 25.8002 9.44407 25.8002 9.92106C25.8002 10.354 25.5861 10.9324 25.1421 10.9324Z"
                            fill="white" />
                        <path
                            d="M29.2277 0H0.772309C0.345255 0 0 0.345786 0 0.772309V18.6698C0 19.0963 0.345255 19.4421 0.772309 19.4421H29.2277C29.6547 19.4421 30 19.0963 30 18.6698V0.772309C30 0.345786 29.6547 0 29.2277 0ZM27.3065 14.1177C27.2842 14.1581 27.2539 14.1889 27.2146 14.2107C27.1753 14.2325 27.1339 14.2436 27.0914 14.2436C27.0478 14.2436 27.0064 14.2325 26.9671 14.2107C26.9283 14.1889 26.8975 14.1581 26.8746 14.1177C26.8529 14.079 26.8417 14.0375 26.8417 13.9945C26.8417 13.9515 26.8529 13.9106 26.8752 13.8702C26.897 13.8299 26.9288 13.7996 26.9681 13.7778C27.008 13.7571 27.0483 13.7459 27.0908 13.7459C27.1328 13.7459 27.1732 13.7571 27.2125 13.7778C27.2523 13.7996 27.2836 13.8299 27.3054 13.8702C27.3277 13.9106 27.3384 13.952 27.3384 13.9945C27.3384 14.037 27.3288 14.08 27.3065 14.1177ZM27.8631 9.72132C27.8642 13.9733 24.4191 17.4216 20.1666 17.4226C18.1779 17.4232 16.3646 16.6694 14.9984 15.4313C13.6323 16.6673 11.8226 17.4205 9.83711 17.4205C5.58729 17.4205 2.13793 13.9717 2.13793 9.72132C2.13793 5.48796 5.5602 2.04922 9.78771 2.0216C9.80418 2.0216 9.82065 2.0216 9.83711 2.0216C11.8226 2.0216 13.6328 2.77479 14.9989 4.0108C16.3646 2.77426 18.1758 2.02054 20.1629 2.02001C24.4154 2.01841 27.8631 5.46512 27.8642 9.7176C27.8631 9.71866 27.8631 9.71919 27.8631 9.72132Z"
                            fill="white" />
                        <path
                            d="M14.2109 14.5894C14.4547 14.8879 14.7129 15.1726 14.9981 15.4307C15.0045 15.4249 15.0114 15.4196 15.0178 15.4143C15.0178 15.4143 15.0172 15.4143 15.0172 15.4137H15.0188C15.2993 15.1582 15.5611 14.8831 15.8007 14.5894H14.2109Z"
                            fill="white" />
                        <path
                            d="M15.2591 10.3634C15.2591 10.3634 15.3669 9.83225 15.3669 9.61607C15.3669 9.07588 15.0981 8.41724 14.1983 8.41724C13.374 8.41777 12.7637 9.30587 12.7637 10.3098C12.7637 11.4682 13.528 11.7434 14.1797 11.7434C14.781 11.7434 15.0455 11.6085 15.0455 11.6085L15.19 10.8181C15.19 10.8181 14.7327 11.0199 14.3194 11.0199C13.4393 11.0199 13.5933 10.3634 13.5933 10.3634H15.2591ZM14.201 9.1529C14.6636 9.1529 14.5781 9.6729 14.5781 9.71433H13.6682C13.6682 9.66069 13.7543 9.1529 14.201 9.1529Z"
                            fill="white" />
                        <path
                            d="M19.1029 8.52615C19.5199 8.52615 19.855 8.76039 19.855 8.76039L19.9889 7.89194C19.9889 7.89194 19.4928 7.69116 19.0657 7.69116C18.1197 7.69116 17.1992 8.51234 17.1992 10.0543C17.1992 11.0768 17.6959 11.7519 18.6743 11.7519C18.9505 11.7519 19.3913 11.6398 19.3913 11.6398L19.5379 10.7453C19.5379 10.7453 19.1364 10.9467 18.8602 10.9467C18.278 10.9461 18.0448 10.5021 18.0448 10.0261C18.0448 9.05784 18.5452 8.52615 19.1029 8.52615Z"
                            fill="white" />
                        <path
                            d="M13.1816 12.9722C13.315 13.2585 13.4701 13.5309 13.6363 13.7965H16.3681C16.5338 13.532 16.6831 13.2569 16.8164 12.9722H13.1816Z"
                            fill="white" />
                        <path
                            d="M17.1837 8.47102C16.8167 8.47102 16.5447 8.97191 16.5447 8.97191L16.6185 8.51139H15.8553L15.3438 11.6888H16.1851C16.4236 10.3317 16.4682 9.23005 17.0371 9.43136C17.137 8.90604 17.2331 8.70261 17.342 8.48058C17.342 8.48058 17.291 8.46996 17.1837 8.47102Z"
                            fill="white" />
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="29" height="20" viewBox="0 0 29 20" fill="none">
                        <path
                            d="M26.9352 0H1.63596C0.733363 0 0 0.733363 0 1.63596V18.364C0 19.2666 0.733363 20 1.63596 20H26.9352C27.8378 20 28.5712 19.2666 28.5712 18.364V1.6342C28.5712 0.733363 27.8378 0 26.9352 0ZM26.8929 18.32L1.67827 18.3623L1.63596 1.67651L26.8929 1.6342V18.32Z"
                            fill="white" />
                        <path
                            d="M4.05932 7.68806L4.90727 13.763H6.98925L10.8711 6.24072H8.68338L7.03508 9.72948C6.80238 10.2249 6.59965 10.6726 6.42512 11.0834C6.39339 10.655 6.35813 10.239 6.31582 9.8141L5.98264 6.24249H2.6543L6.11485 8.98026L4.05932 7.68806Z"
                            fill="white" />
                        <path d="M12.3646 13.7647L13.7908 6.24243H11.8322L10.4043 13.7647H12.3646Z" fill="white" />
                        <path
                            d="M13.5146 13.3202C13.973 13.664 14.7804 13.8685 15.6742 13.8685C17.527 13.8685 18.7716 12.8213 18.7716 11.2647C18.7716 10.4132 18.2745 9.73803 17.2537 9.20388C16.6826 8.88303 16.3353 8.66796 16.3353 8.39647C16.3353 8.14262 16.6015 7.86937 17.2326 7.86937C17.8478 7.86937 18.3168 8.11088 18.4067 8.15848L18.6288 8.28012L19.2546 6.60538L19.0907 6.5137C18.6217 6.25456 18.04 6.12939 17.3119 6.12939C15.5384 6.12939 14.2991 7.16597 14.2991 8.65033C14.2991 9.72569 15.1453 10.3233 15.8893 10.7253C16.5874 11.0884 16.7249 11.2947 16.7249 11.5291C16.7249 11.9804 16.2383 12.1409 15.8205 12.1409C15.2758 12.1409 14.7081 11.9875 14.2621 11.7195L14.0418 11.5891L13.3789 13.2215L13.5146 13.3202Z"
                            fill="white" />
                        <path
                            d="M20.6584 13.7647L21.4993 11.926H23.1952L23.3433 13.7647H25.3776L24.4962 6.24243H22.2203L18.5605 13.7647H20.6584ZM22.7033 9.11771C22.7809 8.94847 22.8602 8.75455 22.9413 8.55534C22.9554 8.7334 22.9678 8.90087 22.9784 9.04543L23.0929 10.3306H22.141L22.7033 9.11771Z"
                            fill="white" />
                    </svg>
                </div>
            </div>

            <div class="footer__links">
                <h3>Меню</h3>
                <ul>
                    <li><a href="#">Наши продукты</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Партнерам</a></li>
                </ul>
            </div>

            <div class="footer__links">
                <h3>Контакты</h3>
                <ul>
                    <li><a href="email"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="16"
                                viewBox="0 0 20 16" fill="none">
                                <path
                                    d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM17.6 4.25L10.53 8.67C10.21 8.87 9.79 8.87 9.47 8.67L2.4 4.25C2.15 4.09 2 3.82 2 3.53C2 2.86 2.73 2.46 3.3 2.81L10 7L16.7 2.81C17.27 2.46 18 2.86 18 3.53C18 3.82 17.85 4.09 17.6 4.25Z"
                                    fill="#298DED" />
                            </svg> checkvin.dev@gmail.com</a></li>
                    <li><a href="tel"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none">
                                <path
                                    d="M14.0338 12.6657L11.234 15.4433C8.45643 13.8545 6.1566 11.5547 4.56783 8.77711L7.3454 5.97733C7.60094 5.71068 7.71204 5.34404 7.64538 4.9774L6.81211 0.888822C6.71212 0.377749 6.25659 0 5.7233 0H1.11254C0.490364 0 -0.0318184 0.522183 0.00151242 1.14436C0.190387 4.35523 1.16809 7.36611 2.70131 9.99924C4.45673 13.0323 6.97876 15.5433 10.0008 17.2987C12.6339 18.8208 15.6448 19.8096 18.8556 19.9985C19.4778 20.0318 20 19.5096 20 18.8875V14.2767C20 13.7434 19.6223 13.2879 19.1112 13.1879L15.0337 12.3768C14.6671 12.2991 14.2893 12.4102 14.0338 12.6657Z"
                                    fill="#298DED" />
                            </svg> +380500543056 </a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20"
                                fill="none">
                                <path
                                    d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                    fill="#298DED" />
                            </svg> Партнерам</a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20"
                                fill="none">
                                <path
                                    d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                    fill="#298DED" />
                            </svg> Наш чат</a></li>
                </ul>
            </div>



        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-info">
                <span>Copyright
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path
                            d="M7 0C3.136 0 0 3.136 0 7C0 10.864 3.136 14 7 14C10.864 14 14 10.864 14 7C14 3.136 10.864 0 7 0ZM7 12.6C3.913 12.6 1.4 10.087 1.4 7C1.4 3.913 3.913 1.4 7 1.4C10.087 1.4 12.6 3.913 12.6 7C12.6 10.087 10.087 12.6 7 12.6Z"
                            fill="#EDEFF1" />
                        <path
                            d="M8.40039 4.19995H5.60039C5.21539 4.19995 4.90039 4.51495 4.90039 4.89995V9.09995C4.90039 9.48495 5.21539 9.79995 5.60039 9.79995H8.40039C8.78539 9.79995 9.10039 9.48495 9.10039 9.09995V8.39995C9.10039 8.01495 8.78539 7.69995 8.40039 7.69995C8.01539 7.69995 7.70039 8.01495 7.70039 8.39995H6.30039V5.59995H7.70039C7.70039 5.98495 8.01539 6.29995 8.40039 6.29995C8.78539 6.29995 9.10039 5.98495 9.10039 5.59995V4.89995C9.10039 4.51495 8.78539 4.19995 8.40039 4.19995Z"
                            fill="#EDEFF1" />
                    </svg>
                    2021
                    Checkvin
                </span>
            </div>
        </div>
    </div>
</footer>