<div class="wrapper">
  <div class="sign-in newsletter">
    <div class="close">
      <img src="images/icons/close.svg" alt="close">
    </div>
    <h3>For all the latest technology and navigation news from AWA Marine, don’t miss our newsletter</h3>
    <a class="button-newsletter"><p>Subsribe <span>to Our Newsletter</span></p><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13"><g><g><g transform="rotate(-90 6.5 6.5)"><path fill="#c82026" d="M6.5 13a.661.661 0 0 0 .425-.164l5.883-5.572a.623.623 0 0 0 .024-.875.644.644 0 0 0-.876-.024L7.118 10.94V.62a.619.619 0 1 0-1.238 0v10.32L1.042 6.365c-.236-.223-.645-.203-.876.024-.238.236-.211.653.024.875l5.883 5.572c.15.147.279.154.426.164z"/></g></g></g></svg></a>
  </div>
</div>
