.restore-password {
  .registration {
    margin-bottom: 0;
    padding-bottom: 550px;
    &::before {
      bottom: 50px;
    }
  }
}

.registration {
  padding-top: 80px;
  padding-bottom: 170px;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-bottom: 90px;
  }
  .page__bg {
    padding-top: 60px;
    @media (max-width: 767px) {
      padding-top: 20px;
    }
  }
  .register-btn {
    @media (max-width: 767px) {
      max-width: 280px;
      height: 61px;
      font-size: 25px;
    }
    @media (max-width: 575px) {
      max-width: 300px !important;
    }
  }
  .page-hero {
    padding: 0;
  }
  &::before {
    content: url("images/icons/bg-registration.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    @media (max-width: 991px) {
      bottom: -41px;
      left: -187px;
    }
    @media (max-width: 575px) {
      left: -200px;
      bottom: -100px;
    }
  }
  &.sign-in {
    padding-bottom: 180px;
  }
  .page-hero__tabs {
    margin: auto;
    height: 100% !important;
    .restore-btn {
      margin: auto;
      max-width: 300px;
      background: #298ded;
      border-radius: 23px;
      border: 1px solid #e5e5e5;
      color: #fff;
      height: 40px;
      font-size: 20px;
      @include pop-reg;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav {
      max-width: 300px;
      li {
        max-width: 150px;
        a {
          max-width: 100%;
        }
      }
    }
  }
  .form__block {
    position: relative;
  }
  .max-length {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 15px;
    color: #a2a2a2;
    @include pop-reg;
  }
}
