.headroom {
  transition: 0.3s;
  background: transparent;

  &--pinned {
    transition: 0.3s;
    transform: translateY(0);
  }

  &--unpinned {
    transition: 0.3s;
    transform: translateY(-100%);
  }
}
