.body-hidden {
  overflow: hidden !important;
  height: 100%;
}
.mobile-menu {
  background-color: #031138;
  overflow: auto !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  left: auto;
  z-index: 9999;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  &.open-mobile {
    right: 0;
    transition: 0.5s;
  }
}
