<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="blog-page">
    {{> ../common/header }}

    <section class="blog">
        <div class="page__bg">
            <div class="container">
                <div class="page__header">
                    <h4><b>Б</b>лог
                    </h4>
                </div>

                <div class="blog__content">

                    <div class="blog__card">
                        <div class="blog__card-img" style="background-image: url('images/blog/blog-img-1.png');">
                        </div>
                        <div class="blog__card-info">
                            <span>CheckVin 19/02/2021</span>
                            <h5>Бессрочные пакеты отчетов Carfax
                            </h5>
                            <p>Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке существенных финансовых и административных условий. Таким образом
                                рамки и место обучения кадров требуют от нас анализа направлений прогрессивного
                                развития.
                            </p>
                            <a href="#" class="btn-blue">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__card">
                        <div class="blog__card-img" style="background-image: url('images/blog/blog-img-2.png');">
                        </div>
                        <div class="blog__card-info">
                            <span>CheckVin 19/02/2021</span>
                            <h5>Бессрочные пакеты отчетов Carfax
                            </h5>
                            <p>Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке существенных финансовых и административных условий. Таким образом
                                рамки и место обучения кадров требуют от нас анализа направлений прогрессивного
                                развития.
                            </p>
                            <a href="#" class="btn-blue">Подробнее</a>
                        </div>
                    </div>
                    <div class="blog__card">
                        <div class="blog__card-img" style="background-image: url('images/blog/blog-img-3.png');">
                        </div>
                        <div class="blog__card-info">
                            <span>CheckVin 19/02/2021</span>
                            <h5>Бессрочные пакеты отчетов Carfax
                            </h5>
                            <p>Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке существенных финансовых и административных условий. Таким образом
                                рамки и место обучения кадров требуют от нас анализа направлений прогрессивного
                                развития.
                            </p>
                            <a href="#" class="btn-blue">Подробнее</a>
                        </div>
                    </div>



                </div>

                <div class="blog__bottom-list">
                    <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">></a></li>
                        <li><a href="#">>></a></li>

                    </ul>
                </div>

            </div>
        </div>
    </section>

    {{> ../common/mobile-menu }}

    {{> ../common/footer }}
</body>

</html>