<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body>
    {{> ../common/header }}

    <section class="contact-us">
        <div class="page__bg">
            <div class="container">
                <div class="page__header">
                    <h4><b>О</b>Нас</h4>
                </div>
                <div class="contact-us__text">
                    <div class="contact-us__text-left">
                        <div class="contact-us__paragraph">
                            <p><b>Checkvin.com.ua</b> - является веб-сайтом, который собирает в одном месте историю
                                транспортных средств из Америки. На сегодня наш агрегатор работает с международными
                                системами AutoCheck и CARFAX, так же сотрудничаем с Американскими автоаукционами IAAI,
                                COPART, ADESA, MANHEIM.
                            </p>
                        </div>
                        <div class="contact-us__paragraph">
                            <p><b>CARFAX</b> является самым надежным поставщиком информации об истории транспортных
                                средств
                                в мире. Уже более 30 лет CARFAX помогает миллионам покупателей подержанных автомобилей
                                принимать лучшие решения о покупке и избегать дорогостоящих скрытых проблем.

                            </p>
                        </div>
                        <div class="contact-us__paragraph">
                            <p><b>Отчеты AutoCheck ® </b>об истории транспортных средств предоставляют информацию о
                                зарегистрированных авариях, отмотке одометра, лимонных транспортных средствах, фирменных
                                названиях и многом другом. Наша обширная база данных собирает информацию о транспортных
                                средствах из всех 50 штатов, и эта информация собирается и управляется Experian, ведущим
                                экспертом в области кредитных и автомобильных услуг передачи данных.


                            </p>
                        </div>
                        <div class="contact-us__text-bottom">
                            <div class="contact-us__paragraph">
                                <strong>Оплата и доставка</strong>
                                <p> Checkvin.com.ua - предоставляет Зарегистрированным клиентам возможность приобрести
                                    "пакеты
                                    проверок" с количеством от 1 проверки до 200 проверок без ограничения срока, в
                                    течении
                                    которого нужно использовать все проверки.

                                </p>
                            </div>
                            <div class="contact-us__paragraph">
                                <p>Оплата производится по средствам оплаты с карты через систему Liqpay , стоимость
                                    пакета
                                    зависит от количества проверок. Ознакомится с актуальными "пакетами проверок" можно
                                    на
                                    странице "Пополнить баланс".

                                </p>
                            </div>
                            <div class="contact-us__paragraph">
                                <p>После удачной оплаты выбранного "пакета проверок" в течении 10-ти минут Вам на баланс
                                    будет
                                    начислено количество проверок соответствующее оплаченному "пакету проверок". Если на
                                    балансе
                                    не увеличилось количество "проверок", просьба обратиться в поддержку:

                                </p>
                            </div>
                        </div>

                        <div class="contact-us__paragraph">
                            <ul>

                                <li><a href="tel"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 20 20" fill="none">
                                            <path
                                                d="M14.0338 12.6657L11.234 15.4433C8.45643 13.8545 6.1566 11.5547 4.56783 8.77711L7.3454 5.97733C7.60094 5.71068 7.71204 5.34404 7.64538 4.9774L6.81211 0.888822C6.71212 0.377749 6.25659 0 5.7233 0H1.11254C0.490364 0 -0.0318184 0.522183 0.00151242 1.14436C0.190387 4.35523 1.16809 7.36611 2.70131 9.99924C4.45673 13.0323 6.97876 15.5433 10.0008 17.2987C12.6339 18.8208 15.6448 19.8096 18.8556 19.9985C19.4778 20.0318 20 19.5096 20 18.8875V14.2767C20 13.7434 19.6223 13.2879 19.1112 13.1879L15.0337 12.3768C14.6671 12.2991 14.2893 12.4102 14.0338 12.6657Z"
                                                fill="#298DED" />
                                        </svg> +380500543056 </a></li>

                                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"
                                            viewBox="0 0 24 20" fill="none">
                                            <path
                                                d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                                fill="#298DED" />
                                        </svg> Наш чат</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact-us__text-right">
                        <div class="contact-us__paragraph">
                            <strong>Стоимость услуг</strong>
                            <p>Стоимость "пакетов проверок" и количество проверок в каждом из них указаны на странице
                                "Пополнить баланс"
                            </p>
                        </div>
                        <div class="contact-us__paragraph">
                            <strong>Условия возврата</strong>
                            <p>После зачисления "проверок" на баланс Личного Кабинета возврат средств не предусмотрен.
                                Все
                                вопросы связанные с возможным возвратом средств просьба задавать до оплаты выбранного
                                "пакета проверок".

                            </p>
                        </div>
                        <div class="contact-us__paragraph">
                            <strong>Контактные данные администрации</strong>
                            <p>Равным образом дальнейшее развитие различных форм деятельности позволяет выполнять важные
                                задания по разработке существенных финансовых и административных условий. Таким образом
                                рамки и место обучения кадров требуют от нас анализа направлений прогрессивного
                                развития:

                            </p>
                        </div>

                        <div class="contact-us__paragraph">
                            <ul>
                                <li><a href="email"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="16"
                                            viewBox="0 0 20 16" fill="none">
                                            <path
                                                d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM17.6 4.25L10.53 8.67C10.21 8.87 9.79 8.87 9.47 8.67L2.4 4.25C2.15 4.09 2 3.82 2 3.53C2 2.86 2.73 2.46 3.3 2.81L10 7L16.7 2.81C17.27 2.46 18 2.86 18 3.53C18 3.82 17.85 4.09 17.6 4.25Z"
                                                fill="#298DED" />
                                        </svg> checkvin.dev@gmail.com</a></li>
                                <li><a href="tel"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 20 20" fill="none">
                                            <path
                                                d="M14.0338 12.6657L11.234 15.4433C8.45643 13.8545 6.1566 11.5547 4.56783 8.77711L7.3454 5.97733C7.60094 5.71068 7.71204 5.34404 7.64538 4.9774L6.81211 0.888822C6.71212 0.377749 6.25659 0 5.7233 0H1.11254C0.490364 0 -0.0318184 0.522183 0.00151242 1.14436C0.190387 4.35523 1.16809 7.36611 2.70131 9.99924C4.45673 13.0323 6.97876 15.5433 10.0008 17.2987C12.6339 18.8208 15.6448 19.8096 18.8556 19.9985C19.4778 20.0318 20 19.5096 20 18.8875V14.2767C20 13.7434 19.6223 13.2879 19.1112 13.1879L15.0337 12.3768C14.6671 12.2991 14.2893 12.4102 14.0338 12.6657Z"
                                                fill="#298DED" />
                                        </svg> +380500543056 </a></li>
                                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"
                                            viewBox="0 0 24 20" fill="none">
                                            <path
                                                d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                                fill="#298DED" />
                                        </svg> Партнерам</a></li>
                                <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"
                                            viewBox="0 0 24 20" fill="none">
                                            <path
                                                d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                                fill="#298DED" />
                                        </svg> Наш чат</a></li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>



    {{> ../common/footer }}
</body>

</html>