<!DOCTYPE html>
<html lang="en">

<head>
  {{> ../common/head }}
</head>

<body class="home-page">
  {{> ../common/header }}
  {{> ../sections/page-hero }}

  <section class="telegram-bot">
    <div class="telegram-bot__bg">
      <div class="container">
        <div class="telegram-bot__info">
          <a href="#" class="btn-blue"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"
              viewBox="0 0 24 20" fill="none">
              <path
                d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                fill="white" />
            </svg> Telegram <b>Бот</b></a>
          <p>Telegram БОТ для получения AUTOCHECK и CARFAX по автомобилям
            из Америки и информации по украинским номерам!</p>
        </div>
      </div>
    </div>

    <div class="container">
      <a href="#" class="btn-blue btn-mobile"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"
          viewBox="0 0 24 20" fill="none">
          <path
            d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
            fill="white" />
        </svg> Telegram <b>Бот</b></a>
    </div>
  </section>

  <section class="home-slider">
    <div class="container">
      <div class="home-slider__content">
        <div class="home-slider__top">
          <span>Мы предоставляем сервис уже более 10 лет</span>
        </div>

        <div class="slider-quotes swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide slider-quotes__slide">
              <div class="slider-quotes__text">
                <strong>Макар Должковой</strong>
                <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
                  внедрения и модернизации направлений прогрессивного развития.

                </p>
              </div>

              <div class="slider-quotes__stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <span>(5)</span>
              </div>
            </div>

            <div class="swiper-slide slider-quotes__slide">
              <div class="slider-quotes__text">
                <strong>Виктор Грицаенко</strong>
                <p>Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный
                  эксперимент проверки новых предложений дальнейшее развитие различных форм деятельности.
                </p>
              </div>

              <div class="slider-quotes__stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <span>(5)</span>
              </div>
            </div>

            <div class="swiper-slide slider-quotes__slide">
              <div class="slider-quotes__text">
                <strong>Макар Должковой</strong>
                <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
                  внедрения и модернизации направлений прогрессивного развития.

                </p>
              </div>

              <div class="slider-quotes__stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <span>(5)</span>
              </div>
            </div>
            <div class="swiper-slide slider-quotes__slide">
              <div class="slider-quotes__text">
                <strong>Макар Должковой</strong>
                <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
                  внедрения и модернизации направлений прогрессивного развития.

                </p>
              </div>

              <div class="slider-quotes__stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <span>(5)</span>
              </div>
            </div>
            <div class="swiper-slide slider-quotes__slide">
              <div class="slider-quotes__text">
                <strong>Макар Должковой</strong>
                <p>Повседневная практика показывает, что реализация намеченных плановых заданий влечет за собой процесс
                  внедрения и модернизации направлений прогрессивного развития.

                </p>
              </div>

              <div class="slider-quotes__stars">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24" fill="none">
                  <path
                    d="M12.0489 0.927052C12.3483 0.00574112 13.6517 0.00573993 13.9511 0.927051L16.1432 7.67376C16.2771 8.08578 16.661 8.36475 17.0943 8.36475H24.1882C25.1569 8.36475 25.5597 9.60436 24.7759 10.1738L19.0369 14.3435C18.6864 14.5981 18.5397 15.0495 18.6736 15.4615L20.8657 22.2082C21.1651 23.1295 20.1106 23.8956 19.3269 23.3262L13.5878 19.1565C13.2373 18.9019 12.7627 18.9019 12.4122 19.1565L6.67312 23.3262C5.88941 23.8956 4.83493 23.1295 5.13428 22.2082L7.32642 15.4615C7.46029 15.0495 7.31363 14.5981 6.96315 14.3435L1.22405 10.1738C0.440337 9.60436 0.843112 8.36475 1.81184 8.36475H8.90575C9.33897 8.36475 9.72293 8.08578 9.8568 7.67376L12.0489 0.927052Z"
                    fill="#FFC15E" />
                </svg>
                <span>(5)</span>
              </div>
            </div>



          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>

          <!-- Add Arrows -->
          <div class="swiper-button-next">
            <svg width="63" height="22" viewBox="0 0 63 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M62.3265 9.83033L53.0026 0.506413C51.9332 -0.562996 50.1286 0.172224 50.1286 1.67608V7.65809H3.34191C1.50386 7.65809 0 9.16195 0 11C0 12.838 1.50386 14.3419 3.34191 14.3419H50.1286V20.3239C50.1286 21.8278 51.9332 22.563 52.9692 21.4936L62.2931 12.1697C62.9615 11.5347 62.9615 10.4653 62.3265 9.83033Z"
                fill="#4F697D" />
            </svg>
          </div>
          <div class="swiper-button-prev">
            <svg width="63" height="22" viewBox="0 0 63 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.472282 9.83033L9.7962 0.506413C10.8656 -0.562996 12.6702 0.172224 12.6702 1.67608V7.65809H59.4569C61.295 7.65809 62.7988 9.16195 62.7988 11C62.7988 12.838 61.295 14.3419 59.4569 14.3419H12.6702V20.3239C12.6702 21.8278 10.8656 22.563 9.82962 21.4936L0.505699 12.1697C-0.162682 11.5347 -0.162682 10.4653 0.472282 9.83033Z"
                fill="#4F697D" />
            </svg>

          </div>
        </div>
      </div>
    </div>
  </section>

  <sections class="checks">
    <div class="container">
      <div class="checks__content">
        <div class="checks__top">
          <strong>Последние Проверки</strong>
        </div>

        <div class="checks__list">
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
          <div class="checks__list-string">
            <div class="checks__list-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                <path
                  d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM26.1625 14.4025L16.2575 24.3075C15.575 24.99 14.4725 24.99 13.79 24.3075L8.8375 19.355C8.155 18.6725 8.155 17.57 8.8375 16.8875C9.52 16.205 10.6225 16.205 11.305 16.8875L15.015 20.5975L23.6775 11.935C24.36 11.2525 25.4625 11.2525 26.145 11.935C26.845 12.6175 26.845 13.72 26.1625 14.4025Z"
                  fill="#298DED" />
              </svg>
              <p>2014 Acura ILX - 19VDE1F30EE001926</p>
            </div>
            <div class="checks__date">
              <p>23.02.2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sections>

  <div class="chat">
    <div class="chat__message">
      <p>Вопросы? <br>
        Пиши нам!</p>
    </div>
    <div class="chat__btn">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.5 2.5H22.5V17.5H3.9625L2.5 18.9625V2.5ZM2.5 0C1.125 0 0.0125 1.125 0.0125 2.5L0 25L5 20H22.5C23.875 20 25 18.875 25 17.5V2.5C25 1.125 23.875 0 22.5 0H2.5ZM5 12.5H15V15H5V12.5ZM5 8.75H20V11.25H5V8.75ZM5 5H20V7.5H5V5Z"
          fill="white" />
      </svg>

    </div>
  </div>
  {{> ../common/mobile-menu }}
  {{> ../common/footer }}
</body>

</html>