<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body class="products-page">
    {{> ../common/header }}

    <section class="products">
        <div class="page__bg">
            <div class="container">
                <div class="page__header">
                    <h4><b>Н</b>аши продукты</h4>
                </div>

                <div class="products__content">
                    <div class="products__string">
                        <div class="products__card">
                            <div class="products__card-img" style="background-image: url('images/products/buy-1.png');">

                            </div>
                            <div class="products__card-info">
                                <div class="products__card-header">
                                    <div class="products__mobile-img">
                                        <img src="images/blog/buy-small-1.png" alt="">
                                    </div>
                                    <div class="products__card-title">
                                        <strong>Buy Now</strong>
                                        <span><b>COPAT</b><b>IAAI</b></span>
                                    </div>
                                </div>
                                <p><b>@UsaBuyNowBot</b>- является веб-сайтом, который собирает в одном месте историю
                                    транспортных средств из Америки.

                                </p>

                                <a href="#" class="btn-blue products__card-btn"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="20" viewBox="0 0 24 20" fill="none">
                                        <path
                                            d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                            fill="white" />
                                    </svg> Telegram Бот</a>
                            </div>
                        </div>
                        <div class="products__card">
                            <div class="products__card-img" style="background-image: url('images/products/buy-3.png');">

                            </div>
                            <div class="products__card-info">
                                <div class="products__card-header">
                                    <strong>Buy Now</strong>
                                    <span><b>COPAT</b><b>IAAI</b></span>
                                </div>
                                <p><b>@UsaBuyNowBot</b>- является веб-сайтом, который собирает в одном месте историю
                                    транспортных средств из Америки.

                                </p>

                                <a href="#" class="btn-blue products__card-btn"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="20" viewBox="0 0 24 20" fill="none">
                                        <path
                                            d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                            fill="white" />
                                    </svg> Telegram Бот</a>
                            </div>
                        </div>
                    </div>
                    <div class="products__string">
                        <div class="products__card">
                            <div class="products__card-img" style="background-image: url('images/products/buy-2.png');">

                            </div>
                            <div class="products__card-info">
                                <div class="products__card-header">
                                    <strong>Buy Now</strong>
                                    <span><b>COPAT</b><b>IAAI</b></span>
                                </div>
                                <p><b>@UsaBuyNowBot</b>- является веб-сайтом, который собирает в одном месте историю
                                    транспортных средств из Америки.

                                </p>

                                <a href="#" class="btn-blue products__card-btn"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="20" viewBox="0 0 24 20" fill="none">
                                        <path
                                            d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                            fill="white" />
                                    </svg> Telegram Бот</a>
                            </div>
                        </div>
                        <div class="products__card">
                            <div class="products__card-img" style="background-image: url('images/products/buy-4.png');">

                            </div>
                            <div class="products__card-info">
                                <div class="products__card-header">
                                    <strong>Buy Now</strong>
                                    <span><b>COPAT</b><b>IAAI</b></span>
                                </div>
                                <p><b>@UsaBuyNowBot</b>- является веб-сайтом, который собирает в одном месте историю
                                    транспортных средств из Америки.

                                </p>

                                <a href="#" class="btn-blue products__card-btn"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="20" viewBox="0 0 24 20" fill="none">
                                        <path
                                            d="M9.4174 13.1813L9.0204 18.7653C9.58841 18.7653 9.83441 18.5213 10.1294 18.2283L12.7925 15.6833L18.3106 19.7243C19.3226 20.2883 20.0357 19.9913 20.3087 18.7933L23.9308 1.8214L23.9318 1.8204C24.2528 0.324404 23.3907 -0.260593 22.4047 0.106405L1.1142 8.25736C-0.33883 8.82136 -0.31683 9.63136 0.867199 9.99835L6.31033 11.6913L18.9536 3.78039C19.5486 3.38639 20.0897 3.60439 19.6446 3.99839L9.4174 13.1813Z"
                                            fill="white" />
                                    </svg> Telegram Бот</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {{> ../common/footer }}
</body>

</html>