<!DOCTYPE html>
<html lang="en">

<head>
    {{> ../common/head }}
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <div class="header__left">
                    <a href="/index.html" class="header__logo">
                        <svg width="175" height="46" viewBox="0 0 175 46" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M24.2417 26.7642C24.0259 29.7476 22.9214 32.0962 20.9282 33.8101C18.9478 35.5239 16.3325 36.3809 13.0825 36.3809C9.52783 36.3809 6.72852 35.1875 4.68457 32.8008C2.65332 30.4014 1.6377 27.1133 1.6377 22.9365V21.2417C1.6377 18.5757 2.10742 16.2271 3.04688 14.1958C3.98633 12.1646 5.32568 10.6094 7.06494 9.53027C8.81689 8.43848 10.8481 7.89258 13.1587 7.89258C16.3579 7.89258 18.9351 8.74951 20.8901 10.4634C22.8452 12.1772 23.9751 14.583 24.2798 17.6807H18.5669C18.4272 15.8906 17.9258 14.5957 17.0625 13.7959C16.2119 12.9834 14.9106 12.5771 13.1587 12.5771C11.2544 12.5771 9.82617 13.2627 8.87402 14.6338C7.93457 15.9922 7.45215 18.106 7.42676 20.9751V23.0698C7.42676 26.0659 7.87744 28.2559 8.77881 29.6396C9.69287 31.0234 11.1274 31.7153 13.0825 31.7153C14.8472 31.7153 16.1611 31.3154 17.0244 30.5156C17.9004 29.7031 18.4019 28.4526 18.5288 26.7642H24.2417Z"
                                fill="#1976D2" />
                            <path
                                d="M33.0015 17.6426C34.4614 15.8906 36.2959 15.0146 38.5049 15.0146C42.9736 15.0146 45.2397 17.6108 45.3032 22.8032V36H39.7998V22.9556C39.7998 21.7749 39.5459 20.9053 39.0381 20.3467C38.5303 19.7754 37.686 19.4897 36.5054 19.4897C34.8931 19.4897 33.7251 20.1118 33.0015 21.356V36H27.498V6.75H33.0015V17.6426ZM58.938 36.3809C55.9165 36.3809 53.4536 35.4541 51.5493 33.6006C49.6577 31.7471 48.7119 29.2778 48.7119 26.1929V25.6597C48.7119 23.5903 49.1118 21.7432 49.9116 20.1182C50.7114 18.4805 51.8413 17.2236 53.3013 16.3477C54.7739 15.459 56.4497 15.0146 58.3286 15.0146C61.147 15.0146 63.3623 15.9033 64.9746 17.6807C66.5996 19.458 67.4121 21.978 67.4121 25.2407V27.4878H54.2915C54.4692 28.8335 55.0024 29.9126 55.8911 30.7251C56.7925 31.5376 57.9287 31.9438 59.2998 31.9438C61.4199 31.9438 63.0767 31.1758 64.27 29.6396L66.9741 32.6675C66.1489 33.8354 65.0317 34.7495 63.6226 35.4097C62.2134 36.0571 60.6519 36.3809 58.938 36.3809ZM58.3096 19.4707C57.2178 19.4707 56.3291 19.8389 55.6436 20.5752C54.9707 21.3115 54.5391 22.3652 54.3486 23.7363H62.0039V23.2983C61.9785 22.0796 61.6484 21.1401 61.0137 20.48C60.3789 19.8071 59.4775 19.4707 58.3096 19.4707ZM79.1235 31.9438C80.1392 31.9438 80.9644 31.6646 81.5991 31.106C82.2339 30.5474 82.564 29.8047 82.5894 28.8779H87.75C87.7373 30.2744 87.3564 31.5566 86.6074 32.7246C85.8584 33.8799 84.8301 34.7812 83.5225 35.4287C82.2275 36.0635 80.793 36.3809 79.2188 36.3809C76.2734 36.3809 73.9502 35.4478 72.249 33.5815C70.5479 31.7026 69.6973 29.1128 69.6973 25.812V25.4502C69.6973 22.2764 70.5415 19.7437 72.23 17.8521C73.9185 15.9604 76.2354 15.0146 79.1807 15.0146C81.7578 15.0146 83.8208 15.751 85.3696 17.2236C86.9312 18.6836 87.7246 20.6323 87.75 23.0698H82.5894C82.564 22.0034 82.2339 21.1401 81.5991 20.48C80.9644 19.8071 80.1265 19.4707 79.0854 19.4707C77.8032 19.4707 76.832 19.9404 76.1719 20.8799C75.5244 21.8066 75.2007 23.3174 75.2007 25.4121V25.9834C75.2007 28.1035 75.5244 29.627 76.1719 30.5537C76.8193 31.4805 77.8032 31.9438 79.1235 31.9438ZM98.376 27.7354L96.3955 29.7158V36H90.8921V6.75H96.3955V22.9556L97.4619 21.5845L102.737 15.3955H109.345L101.899 23.9839L109.992 36H103.67L98.376 27.7354ZM122.332 29.1255L128.616 8.27344H134.977L125.322 36H119.361L109.745 8.27344H116.086L122.332 29.1255ZM143.051 36H137.528V15.3955H143.051V36ZM137.205 10.0635C137.205 9.23828 137.478 8.55908 138.023 8.02588C138.582 7.49268 139.337 7.22607 140.29 7.22607C141.229 7.22607 141.978 7.49268 142.537 8.02588C143.095 8.55908 143.375 9.23828 143.375 10.0635C143.375 10.9014 143.089 11.5869 142.518 12.1201C141.959 12.6533 141.216 12.9199 140.29 12.9199C139.363 12.9199 138.614 12.6533 138.042 12.1201C137.484 11.5869 137.205 10.9014 137.205 10.0635ZM152.667 15.3955L152.839 17.7759C154.312 15.9351 156.286 15.0146 158.761 15.0146C160.945 15.0146 162.57 15.6558 163.636 16.938C164.703 18.2202 165.249 20.1372 165.274 22.689V36H159.771V22.8223C159.771 21.6543 159.517 20.8101 159.009 20.2896C158.501 19.7563 157.657 19.4897 156.476 19.4897C154.927 19.4897 153.766 20.1499 152.991 21.4702V36H147.488V15.3955H152.667Z"
                                fill="#233142" />
                            <rect x="169" y="30" width="6" height="6" fill="#233142" />
                        </svg>

                    </a>

                    <div class="header__links">
                        <ul>
                            {{#with header}}
                            <li><a class="{{class-products}}" href="/products.html">Наши продукты</a></li>
                            <li><a class="{{class-us}}" href="/contact-us.html">О нас</a></li>
                            <li><a class="{{class-blog}}" href="/blog.html">Блог</a></li>
                            <li><a class="{{class-partners}}" href="#">Партнерам</a></li>
                            {{/with}}
                        </ul>
                    </div>
                </div>
                <div class="header__right">

                    <div class="header__language">
                        <ul>
                            <li><a class="active-language" href="#">Русский</a>
                                <ul class="header__language-list">
                                    <li><a data-language="English" href="#">English</a></li>
                                    <li><a data-language="Русский" href="#">Русский</a></li>
                                    <li><a data-language="Українська" href="#">Українська</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header__burger">
                        <a href="#">
                            <span></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="registration ">
        <div class="page__bg">
            <div class="container">
                <div class="registration__content page-hero">
                    <div class="page-hero__tabs tabs">
                        <ul class="nav nav-pills nav-fill align-items-start align-items-lg-center" id="pills-tab"
                            role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link  text-nowrap" data-toggle="pill" href="#pills-sign" role="tab"
                                    aria-controls="pills-vin" aria-selected="true">Войти</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active text-nowrap" data-toggle="pill"
                                    href="#pills-registration">Регистрация
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade " id="pills-sign">
                                <form class="form" action="#">

                                    <div class="form__block">
                                        <label for="#">Email</label>
                                        <input type="text">
                                    </div>
                                    <div class="form__block">
                                        <label for="#">Пароль</label>
                                        <input type="email">
                                    </div>
                                    <div class="form__links">
                                        <button class="btn-blue">Войти</button>
                                        <a href="/restore-password.html" class="link-blue">Забыл пароль</a>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade show active" id="pills-registration">
                                <div class="tab-pane__info">
                                    <form class="form" action="#">

                                        <div class="form__block">
                                            <label for="#">Имя</label>
                                            <input maxlength="10" type="text">
                                            <span class="max-length">0/10</span>
                                        </div>
                                        <div class="form__block">
                                            <label for="#">Email</label>
                                            <input type="email">
                                        </div>
                                        <div class="form__block">
                                            <label for="#">Пароль</label>
                                            <input type="email">
                                        </div>
                                        <div class="form__block">
                                            <label for="#">Подтверждение пароля</label>
                                            <input type="email">
                                        </div>
                                        <div class="form__links">
                                            <button class="btn-blue register-btn">Зарегистрироваться</button>

                                        </div>

                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{> ../common/mobile-menu }}

    {{> ../common/footer }}
</body>

</html>